@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* === Brand Colors === */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --color-brand-50: #fefefe; /* very light */
  --color-brand-100: #e7edfc;
  --color-brand-200: #d0daf9;
  --color-brand-300: #adbae8; /* light */
  --color-brand-400: #6991f5;
  --color-brand-500: #4568fa; /* primary */
  --color-brand-600: #3652c8;
  --color-brand-700: #273d96;
  --color-brand-800: #1a2964;
  --color-brand-900: #101835;

  --color-accent-500: #248ffb; /* bright accent */
  --color-purple-500: #8940e3; /* purple accent */

  /* === Gradient🌈Tokens === */
  --gradient-brand: linear-gradient(to right, var(--color-brand-500), var(--color-purple-500));
  --gradient-accent: linear-gradient(to right, var(--color-accent-500), var(--color-brand-500));
  --gradient-light: linear-gradient(to right, var(--color-brand-100), var(--color-brand-300));
  --gradient-dark: linear-gradient(to right, var(--color-brand-700), var(--color-brand-900));
}

/* === Background Gradients === */
@utility bg-gradient-brand {
  background-image: var(--gradient-brand);
}

@utility bg-gradient-accent {
  background-image: var(--gradient-accent);
}

@utility bg-gradient-light {
  background-image: var(--gradient-light);
}

@utility bg-gradient-dark {
  background-image: var(--gradient-dark);
}

/* === Text Gradients === */
@utility text-gradient-brand {
  @apply bg-gradient-brand bg-clip-text text-transparent;
}

@utility text-gradient-accent {
  @apply bg-gradient-accent bg-clip-text text-transparent;
}

@utility text-gradient-light {
  @apply bg-gradient-light bg-clip-text text-transparent;
}

@utility text-gradient-dark {
  @apply bg-gradient-dark bg-clip-text text-transparent;
}

/* === Brand Fonts === */
/* Layout */
@utility flex-between {
  @apply flex justify-between items-center;
}

/* Typography */
@utility text-30-extrabold {
  @apply text-[30px] font-extrabold text-white;
}

@utility text-30-bold {
  @apply text-[30px] font-bold text-black;
}

@utility text-30-semibold {
  @apply text-[30px] font-semibold text-black;
}

@utility text-26-semibold {
  @apply text-[26px] font-semibold text-black;
}

@utility text-24-black {
  @apply text-[24px] font-black text-black;
}

@utility text-20-medium {
  @apply text-[20px] font-medium text-black;
}

@utility text-16-medium {
  @apply text-[16px] font-medium text-black;
}

@utility text-14-normal {
  @apply text-sm font-normal text-white;
}

/* Sections */
@utility brand-container {
  @apply w-full bg-brand-500 min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
}

@utility section-container {
  @apply px-6 py-10 max-w-7xl mx-auto;
}

/* Headings */
@utility tag {
  @apply bg-brand-300 px-6 py-3 font-sans font-bold rounded-sm uppercase relative tag-tri;
}

@utility heading {
  @apply uppercase bg-black px-6 py-3 font-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
}

@utility sub-heading {
  @apply text-[20px] font-medium text-white max-w-2xl text-center break-words;
}

/* Grid */
@utility card-grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
}

@utility card-grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
}

@utility no-result {
  @apply bg-brand-50 text-sm font-normal;
}

/* Profile */
@utility profile-container {
  @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
}

@utility profile-card {
  @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-brand-500 border-[5px] border-black rounded-[30px] relative z-0 h-fit max-lg:w-full;
}

@utility profile-title {
  @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9
         after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px]
         before:absolute before:content-[''] before:-bottom-1 before:left-0 before:-skew-y-6 before:w-full before:h-[60px] before:bg-black before:-z-[1] before:rounded-[20px];
}

@utility profile-image {
  @apply rounded-full object-cover border-[3px] border-black;
}

/* Idea Details */
@utility divider {
  @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
}

@utility view-skeleton {
  @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
}

/* Navbar */
@utility avatar {
  @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md;
}

@utility dropdown-menu {
  @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl;
}

@utility login {
  @apply border-[5px] py-4 border-black bg-white text-black relative font-sans font-medium hover:shadow-none transition-all duration-500;
}

/* Search Form */
@utility search-form {
  @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
}

@utility search-input {
  @apply flex-1 font-bold placeholder:font-semibold placeholder:bg-brand-50 text-accent-500 w-full h-auto outline-none;
}

@utility search-btn {
  @apply size-[50px] rounded-full bg-black flex justify-center items-center;
}

/* Startup Card */
@utility startup-card {
  @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] transition-all duration-500;
}

@utility startup-card_date {
  @apply text-[16px] font-medium  px-4 py-2 rounded-full;
}

@utility startup-card_desc {
  @apply text-[16px] font-normal line-clamp-2 my-3 bg-brand-50 break-all;
}

@utility startup-card_img {
  @apply w-full h-[164px] rounded-[10px] object-cover;
}

@utility startup-card_btn {
  @apply rounded-full bg-brand-500 text-[16px] font-medium text-white px-5 py-3;
}

@utility startup-card_skeleton {
  @apply w-full h-96 rounded-[22px] bg-zinc-400;
}

/* Startup Form */
@utility startup-form {
  @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
}

@utility startup-form_label {
  @apply text-[18px] font-bold text-black uppercase;
}

@utility startup-form_input {
  @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 bg-brand-900;
}

@utility startup-form_textarea {
  @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 bg-brand-900;
}

@utility startup-form_error {
  @apply text-red-500 mt-2 ml-5;
}

@utility startup-form_editor {
  @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold bg-brand-900;
}

@utility startup-form_btn {
  @apply bg-brand-500 border-[4px] border-black rounded-full p-5 min-h-[70px] w-full text-[18px] font-bold;
}

/* View */
@utility view-container {
  @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
}

@utility view-text {
  @apply text-[16px] font-medium  px-4 py-2 rounded-lg capitalize;
}

@utility category-tag {
  @apply text-[16px] font-medium  px-4 py-2 rounded-full bg-gradient-light;
}

/* Patterns */
@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

@utility tag-tri {
  @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent
         after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
}

/* Third-party editor */
.w-md-editor-toolbar {
  padding: 10px;
}
